// main: theme.scss

// == Side ==
$side_back_color: #2053AB;
$side_text_color: #fff;

// == Main ==
$main_back_color: #fff;
$main_text_color: #323232;


// == Code ==
$main_code_inline_back_color: #FFF7DD;
$main_code_block_back_color: #1d1f21;
