h1, h2, h3 {
  letter-spacing: 0.25px;
}

h2 {
  margin-top: 24px;
}

p {
  font-size: 16px;
}

pre code {
  padding-left: 8px !important;
}

.list-bare {
  list-style-type: none;
}

.list-bare li {
  margin: 2px 0 0 12px;
}

.sidebar-list-item-1 {
  font-size: 0.9em;
  margin: 0 0 0 12px;
}

.sidebar-list-item-2 {
  font-size: 0.9em;
  margin: 0 0 0 24px;
}
