name: "PR Checks"

on:
  pull_request:
    branches:
      - master

jobs:
  goreleaser:
    runs-on: ubuntu-24.04
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
      - name: "Set up Go"
        uses: actions/setup-go@v5.5.0
        with:
          go-version-file: 'go.mod'
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6.3.0
        with:
          version: 2.11.0
          args: release --snapshot
